

.app-download {

  background-image: url(../../img/bg-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-color: #1d2631;

  &__wrapper {
    .container();
  }

  &__photo {
    position: relative;
    min-height: 460px;
    & img {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &__icons {
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
    font-size: 0;
    line-height: 0;
    text-align: center;
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    margin: 0 18px;
  }

  &__description {
    padding-top: 24px;
    background: #1d2631;
    padding-bottom: 32px;
  }

  &__slogan {
    display: none;
  }

  &__text {
    padding: 0 20px;
    margin: 0;
    font-family: "OpenSansLight", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    text-align: center;
  }
}

@media @tablet-width {

  .app-download {
    position: relative;
    z-index: -10;
    margin: auto;
    background-image: url(../../img/bg-tablet@1x.jpg);


    &__wrapper {
      position: relative;
      min-height: 730px;
    }


    &__photo {
      position: absolute;
      z-index: -1;
      right: 0;
      bottom: 0;
      & img {
        position: static;
        display: block;
      }
    }

    &__description {
      padding-top: 208px;
      margin-right: 320px;
      background: none;
    }

    &__slogan {
      display: block;
      margin: 0;
      padding: 0 40px;
      font-family: "OpenSansLight", Arial, sans-serif;
      font-weight: 400;
      font-size: 40px;
      line-height: 47px;
      text-align: center;
      color: #fff;
    }

    &__icons {
      margin-bottom: 35px;
    }

    &__text {
      padding: 0;
      font-family: "OpenSansLight", Arial, sans-serif;
      font-size: 18px;
      line-height: 24px;
    }
  }
}

@media @desktop-width {

  .app-download {
      background-image: url(../../img/bg-desktop.jpg);

    &__wrapper {
      position: relative;
    }

    &__photo {
      right: 30px;

      & img {
        left: 345px;
      }
    }

    &__description {
        padding-top: 220px;
      margin-right: 640px;
      background: none;
    }

    &__slogan {
      padding: 0 5px;
      font-size: 50px;
      line-height: 59px;
    }

    &__icons {
      margin-bottom: 53px;
    }

    &__text {
      padding-bottom: 85px;
    }
  }
}
