
.main-nav {
  display: block;
  transition: all 1s ease-out 0.5s;

  &__wrapper {
    width: 100%;
    margin: 0;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {

    a {
      display: block;
      padding: 19px 0;
      background: @lightblue;
      border-top: 1px solid #495562;
      border-bottom: 1px solid #000;

      font-family: "OpenSans", Arial, sans-serif;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
    }
  }
}

@media @desktop-width {

  .main-nav {

    &__list {
      display: flex;
      height: 100%;
      width: 750px;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: wrap;
    }

    &__item {
      margin-left: 80px;

      &:first-child {
        margin-left: 0;
      }


      & a {
        padding: 0;
        border: none;
        background: none;
        text-transform: none;
      }

      & a:hover {
        color: @hover-light;
      }

      & a:active {
        color: @active-dark;
      }


      &:first-child {
        margin-left: none;
      }
    }
  }
}
