
.main-header {
  position: relative;
  z-index: 100;

  &__top {
    .container();
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    margin: 23px;
  }
}


.main-header--menu-opened {
  background: @lightblue;
  margin-bottom: 68px;

  .btn {
    width: 55px;

    &::before, &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      display: block;
      width: 30px;
      height: 4px;
      margin: 0 auto;
      background: #ffffff;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover::before, &:hover::after {
        background: @hover-light;
    }

    &:active::before, &:active::after {
        background: @active-dark;
    }
  }

  .main-nav {
    transition: all 1s linear;
    border-top: 1px solid #000;
    display: block;

  }
}


.main-header--menu-closed {
  background: rgba(29, 38, 49, 0.3);

  .btn {

    &::before {
      content: "";
      display: block;
      width: 50px;
      height: 4px;
      margin: 0 auto;
      background: #ffffff;
      box-shadow: 0 10px 0 0 #ffffff, 0 -10px 0 0 #ffffff;
    }

    &:hover::before {
      background: @hover-light;
      box-shadow: 0 10px 0 0 @hover-light, 0 -10px 0 0 @hover-light;
    }

    &:active::before {
      background: @active-dark;
      box-shadow: 0 10px 0 0 @active-dark, 0 -10px 0 0 @active-dark;
    }
  }

  .main-nav {
    display: none;
  }
}

.main-header--nojs {
  background: @lightblue;

  .btn {
    display: none;
  }

  .main-nav {
    display: block;
  }
}


@media @tablet-width {

  .main-header {

    &__logo {
      position: relative;
      top:-10px;
      margin: 35px 0;
    }

    &--menu-closed {

      .btn {
        margin-right: -20px;
      }
    }

    &--menu-opened {
          margin-bottom: 110px;

      .btn {
        margin-right: -15px;
      }
    }
  }
}


@media @desktop-width {

  .main-header {
    background: rgba(15, 20, 26, 0.4);

    &__wrapper {
      .container();
      display: flex;
      justify-content: space-between;
    }

    &__top {
      width: auto;
      margin: 0;
    }

    &--menu-closed {

      .main-nav {
        display: block;
      }
    }
  }

  .btn--toggle {
    display: none;
  }
}
